body {
  background-color: #5b6186;
}
.Logo {
  height: 4rem;
  width: 9rem;
}
.bg-dark {
  background-color: #3b3d3f !important;
}
.navbar-brand {
  padding: 0.5rem;
}
.nav {
  padding: 0rem;
  position: fixed !important;
  width: 100%;
}
.navbar {
  padding: 0rem;
  position: fixed !important;
  width: 100%;
}
.nav-links {
  display: block;
  padding: 0.5rem 0.5rem;
  color: #969dc8 !important;
  text-decoration: none;
  margin-top: 0.57rem;
}
.nav-link {
  margin-top: -0.25rem;
}
h1 {
  font-family: "Recursive", sans-serif;
  text-align: center;
  margin: 6rem 0 0 0;
  font-size: 4rem;
}
.Choice:hover {
  background-color: #3b3d3f;
  color: #969dc8;
}

.pillar {
  height: 40rem;
  display: block;
  float: left;
  margin: 6% 0 0 0%;
  position: fixed;
}
.pillar1 {
  height: 40rem;
  display: block;
  margin: 6% 0 0 5%;
  position: fixed;
}
.Question {
  font-family: "Recursive", sans-serif;
  font-size: 2rem;
  position: absolute;
  bottom: -475%;
  left: 12rem;
}
.Choice {
  font-family: "Recursive", sans-serif;
  border: none;
  background-color: #3b3d3f;
  color: #969dc8;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: -600%;
  width: 18%;
  height: 110%;
  right: 62%;
}
.Choice1 {
  font-family: "Recursive", sans-serif;
  border: none;
  background-color: #3b3d3f;
  color: #969dc8;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: -600%;
  width: 18%;
  height: 110%;
  right: 37%;
}
.Choice2 {
  font-family: "Recursive", sans-serif;
  border: none;
  background-color: #3b3d3f;
  color: #969dc8;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: -600%;
  width: 18%;
  height: 110%;
  right: 12%;
}

.group {
  align-items: center;
  width: 10rem;
  height: 10rem;
}

.symbol {
  position: absolute;
  width: 7rem;
  height: 7rem;
  margin: 5rem 0 0 12rem;
}
.symbol1 {
  position: absolute;
  width: 7rem;
  height: 7rem;
  margin: -5.5rem 0rem 0rem 42rem;
}

.text {
  font-family: "Recursive", sans-serif;
  position: absolute;
  top: 140%;
  left: 4rem;
  font-size: 1.5rem;
  text-align: left;
}
.button {
  border: none;
  background-color: #02033d;
  color: rgb(228, 225, 225);
  text-decoration: solid;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: -50%;
  width: 20%;
  height: 30%;
  right: 62%;
}
.button:hover {
  background-color: #03054d;
  color: white;
}
.button1 {
  border: none;
  background-color: #02033d;
  color: rgb(228, 225, 225);
  text-decoration: solid;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 37%;
  width: 20%;
  height: 30%;
}
.button1:hover {
  background-color: #03054d;
  color: white;
}
.button:hover {
  background-color: #03054d;
  color: white;
}
.button2 {
  border: none;
  background-color: #02033d;
  color: rgb(228, 225, 225);
  text-decoration: solid;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 12%;
  width: 20%;
  height: 30%;
}
.button2:hover {
  background-color: #03054d;
  color: white;
}

.character {
  width: 90%;
  height: 90%;
}
.text1 {
  font-family: "Recursive", sans-serif;
  position: absolute;
  top: 10rem;
  left: 25%;
  font-size: 2rem;
  text-align: center;
}

.footer-copyright {
  background-color: #3b3d3f;
  color: #969dc8;
  text-align: center;
  position: sticky !important;
}

.item {
  height: 12rem;
  width: 6rem;
}
#footer {
  position: absolute;
  bottom: -33rem;
  width: 100%;
  height: 2.5rem;
}
#footer1 {
  position: absolute;
  bottom: -33rem;
  width: 100%;
  height: 2.5rem;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: -2.5rem;
}
a {
  color: snow;
}
a:hover {
  color: snow;
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 10%;
  }
  .col-lg-2 {
    width: 20%;
  }
  .col-lg-3 {
    width: 30%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-9 {
    width: 70%;
  }
  .col-lg-10 {
    width: 80%;
  }
  .col-lg-11 {
    width: 90%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 990px) and (max-width: 1199px) {
  .col-md-1 {
    width: 10%;
  }
  .col-md-2 {
    width: 20%;
  }
  .col-md-3 {
    width: 30%;
  }
  .col-md-4 {
    width: 40%;
  }
  .col-md-5 {
    width: 50%;
  }
  .col-md-6 {
    width: 60%;
  }
  .col-md-7 {
    width: 70%;
  }

  .col-md-9 {
    width: 85%;
  }
  .col-md-10 {
    width: 80%;
  }
  .col-md-11 {
    width: 90%;
  }
  .col-md-12 {
    width: 100%;
  }
  .pillar1 {
    visibility: hidden;
  }
}
@media only screen and (max-width: 989px) {
  .pillar {
    visibility: hidden;
  }
  .pillar1 {
    visibility: hidden;
  }
  .col-sm-1 {
    width: 10%;
  }
  .col-sm-2 {
    width: 20%;
  }
  .col-sm-3 {
    width: 30%;
  }
  .col-sm-4 {
    width: 40%;
  }
  .col-sm-5 {
    width: 50%;
  }
  .col-sm-6 {
    width: 60%;
  }
  .col-sm-7 {
    width: 70%;
  }

  .col-sm-9 {
    width: 85%;
  }
  .col-sm-10 {
    width: 80%;
  }
  .col-sm-11 {
    width: 90%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
